<div class="panel panel-default">
	<div class="panel-heading">Led Pars</div>
	<div class="panel-body">
		<form class="fform-inline">
			
			Kleur <i class="fa fa-tint"></i>
			<div class="form-group">
				<label for="red" class="col-sm-1 control-label">Rood</label>
				<input name="red" type="number" min="0" max="255" step="1" />
			</div>
			<div class="form-group">
				<label for="green" class="col-sm-1 control-label">Groen</label>
				<input name="green" type="number" min="0" max="255" step="1" />
			</div>
			<div class="form-group">
				<label for="blue" class="col-sm-1 control-label">Blauw</label>
				<input name="blue" type="number" min="0" max="255" step="1" />
			</div>
		</form>
	</div>
</div>