<h2>Laser</h2>
<table class="table">
	<thead>
		<tr>
			<th>Nummer <i class="fa fa-bookmark"></th>
			<th>Adres  <i class="fa fa-cog"></th>
			<th>Mode</th>
			<th>Patroon <i class="fa fa-star"></th>
			<th>Zoom</th>
			<th>Y-rol <i class="fa fa-rotate-right"></i></th>
			<th>X-rol <i class="fa fa-rotate-right"></i></th>
			<th>Z-rol <i class="fa fa-rotate-right"></i></th>
			<th>X-pos<i class="fa fa-arrows-h"></i></th>
			<th>Y-pos<i class="fa fa-arrows-v"></i></th>
			<th>Kleur <span class="glyphicon glyphicon-tint"></i></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>1</th>
			<td>221</td>
			<td>Auto</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td>Rood</td>
		</tr>
	</tbody>
</table>